{% extends 'list_app/base.html' %}

    {% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="h-center">About Special-List</h1>
                <p>Special List is a chore list app that helps you keep track of your daily activities. 
                    It is easy to use and very user-friendly. 
                    It is designed to help you keep track of your daily activities and ensure that you have a place for any important tasks you may have. 
                                           
                </p>
                <h3>
                    How to use Special List:
                </h3>
                <p>
                    First you need to create an account.
                    You will need to login to access your account so that you can start creating your list of special tasks. 
                    Once you've created a task you can mark it as done when you've completed it.
                    You can also delete a task if you no longer need it. all from your dashboard.

                </p>
            </div>
        </div>
    </div>
    <!-- End Content -->
    {% endblock %}