    {% extends 'list_app/base.html' %}

    {% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="h-center mt-4 mb-4">Welcome to Special List</h1>
                <p>
                    A place to keep track of your daily tasks, special projects and anything else you can add to a list.
                </p>
            </div>
        </div>
    </div>
    <!-- End Content -->
    {% endblock %}